body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #05365e;
    
}
.login-container {
    
    margin-left: 2rem;
    margin-top: 2rem;
    background-color: #225470f3;
    border-radius: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border-top:4px solid #041a2c;
    border-bottom:4px solid #041a2c; padding: 2px;
}
#Username, #password{
    margin-left: 1rem;
   background-color: #05365e;
    border-radius: 10px;
    padding: 2px;
   padding: 10px;
   border: none;
    border: 1px solid white;
}

form {
    display: flex;
    flex-direction: column;
}

::placeholder{
    padding-left: 10px;
    color: rgb(216, 205, 191);
    
}
input{
    display: flex;
    justify-content: center;
    margin-top: 1px;
    margin-right: 10px;
    background-color: #05365e;
    
}
#title{
    display: flex;
    justify-content: center;

}
button{
    display: flex;
    justify-content: center;
    border-radius: 7px;
    margin-left: 10rem;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #05365e;
    color: rgb(216, 205, 191);
    border: none;
    border: 1px solid white;
}
#signUpLink{
    margin-left: px;
}
label{
    color: rgb(4, 21, 31);
}